<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="musicPlayer.properties"/>

    <bean id="myMusicBean"
          class="ru.litvinov.springcource.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">
    </bean>
    <bean id="myRockMusic"
          class="ru.litvinov.springcource.RockMusic">
    </bean>
    <bean id="myRapBean"
          class="ru.litvinov.springcource.RapMusic">
    </bean>

    <bean id="musicPlayer"
          class="ru.litvinov.springcource.MusicalPlayer"
          scope="prototype">
        <property name="music" ref="myMusicBean"/>
        <property name="playerName" value="${musicPlayer.playerName}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <property name="musicList">
            <list>
                <ref bean="myMusicBean"/>
                <ref bean="myRapBean"/>
                <ref bean="myRockMusic"/>
            </list>
        </property>
    </bean>

</beans>